body	{
	background: #fff;
	font-size: 16px;
	width: 100%
}

.container {
	width: 50%;
	background: darkseagreen;
	color: #222;
	font-size: 16px;
	margin: 140px auto 0;
	padding: 20px;
}

.container span {
	color: darkred;
	font-size: 1.6em;
	font-weight: 700;
}

form label, form input {
	display: block;
	margin-bottom: 10px;
	width: 50%;
}

form #uStrBtn {
	width: 10%;
}